/* Imagem de fundo, centralizada, sem repetir a imagem */
/* Seleção por classe banner */
.banner {
  /* background-image: url(https://a-static.mlcdn.com.br/1500x1500/smart-tv-crystal-uhd-4k-led-55-samsung-55tu8000-wi-fi-bluetooth-hdr-3-hdmi-2-usb/magazineluiza/225605800/e32aa79079e21db1b00d012aa94676f9.jpg); */
  background-image: url(./images/imagem-tv.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  padding: 30px;
}

.banner h1 {
  text-align: center;
}

.hide {
  display: none;
}

/* Fixar listagem no topo */
.nav {
  position: sticky;
  top: 0;
}

.nav li {
  z-index: 1;
}

/* Espaçamento interno */
body {
  padding: 20px;
}

a:hover {
  opacity: 0.5;
}

.products img {
  /* Uso de medidas relativas para se ajustar automaticamente em variados tipos de telas */
  width: 200px;
}

/*
propriedades flex
.products {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  align-items: center;
} 
*/

/* propriedades grid */
.products {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: stretch;
  align-content: center;
  overflow: hidden;
}

.product-1 {
  grid-area: product1;
}

.product-2 {
  grid-area: product2;
}

.product-3 {
  grid-area: product3;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.nav {
  background-color: beige;
  padding: 20px;
}

.footer {
  padding: 20px;
  background-color: #ccc;
}

@media print {
  .header,
  .footer {
    display: none;
  }
}

@media (max-width: 1024px) {
  .products {
    grid-template-columns: 1fr;
  }
}

